APP_PORT=8080
DB_NAME=postgres
DB_PORT=5432
DB_HOST=projectsprint-db.cavsdeuj9ixh.ap-southeast-1.rds.amazonaws.com
DB_USERNAME=postgres
DB_PASSWORD=iatuyachie1Hae4Maih5izee1vie6Ooxu
DB_PARAMS="sslmode=verify-full&sslrootcert=ap-southeast-1-bundle.pem"
JWT_SECRET=secretzzz
BCRYPT_SALT=8